 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
/* nav-bar style section */
nav{
    background-color: #9376e0;

}
.nav-container{
    display: flex;
    min-height: 50px;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.nav-container img{
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.logo-container{
    display: flex;
    width: 50%;
}
.logo-container p{
    font-size: 1.9rem;
}
.hive-section{
    color: #e893cf;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}
.nav-items-container .login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: black;
    text-align: center;
}
.fa-solid {
    color: #9376e0;
  }
  /* banner style section */
  .banner-container{
    max-width: 1400px;
    margin: 50px auto 0;
    min-height: 50px;
    display: flex;
    background-color: rgba(112, 128, 144, 0.178);
    padding: 10px;
    border-radius: 10px;
  }
  .banner-text{
     width: 50%;
     text-align: center;
  }
  .banner-img{
     width: 50%;
  }
  .banner-img img{
    width: 100%;
    border-radius: 10px;
  }
  .banner-text h1{
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 3.125rem;
  }
  .banner-text p{
    font-size: 2.81rem;
    font-family: 'Dancing Script', cursive;
    margin-top: -20px;
  }
  .fa-brands{
    font-size: 3.125rem;
  }
  .banner-btn{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #9376e0;
    border-radius: 5px;
    margin-right: 20px;
  }
  .icons-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 40px;
  }
  /* products section styles */
  .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    
    max-height: 1400px;
    margin: 50px auto 0;
    min-height: 400px;
    gap: 15px;
  }
  .single-product{
    
    padding: 10px;
    background-color: rgba(112, 128, 144, 0.253);
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
  }
  .single-product img{
    width: 70%;
    display:block;
    margin: 0 auto;
  }
  .product-icon-name-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-icon{
    font-size: 1.325rem;
  }
  .product-icon-name-container span>.product-icon{
    padding: 10px;
    background-color: #9376e0;
    border-radius: 50%;
    margin-left: 5px;
    color: white;
  }