@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
/* nav-bar style section */
nav{
    background-color: #9376e0;

}
.nav-container{
    display: flex;
    min-height: 50px;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.nav-container img{
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.logo-container{
    display: flex;
    width: 50%;
}
.logo-container p{
    font-size: 1.9rem;
}
.hive-section{
    color: #e893cf;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}
.nav-items-container .login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: black;
    text-align: center;
}
.fa-solid {
    color: #9376e0;
  }